*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */

    /* flex-direction: column; */
    /* align-content: center; */
}

.container{
    /* background-color: rgb(48, 46, 73); */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33em;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 2em;
    border-radius: 7px;
}
    /* gap: 2em; */
.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    /* justify-content: space-between; */
    gap: 2em;

}
.sign-up-coloumn{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: space-between;
    text-align: justify;
    font-size: larger;  
}
.submit-button{
    margin-bottom:1.5rem ;
    /*padding: 0.3em; */
    /* font-size: 2.5em; */
    font-size: 1rem;
    background-color: rgb(123, 125, 128);
    color: aliceblue;
    padding: 0.2rem;
    border-radius: 10px;
}
