*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 1em; */
    /* background-color: rgb(142, 142, 142); */
}
.Heading{
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem;
}
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}
.card{
    width: 23em;
    /* flex-basis: 2em; */
    flex-wrap: wrap;
    /* box-shadow: 0 0 4px 3px blue; */
    border: 1px solid rgb(114, 114, 114);
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color:aliceblue;
}
.image{
    width: 30%;
}
.title{
    font-size: 1.3rem;

}
.category, .price{
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;

}
nav{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
   
    align-items: center;
    flex-wrap: wrap;
    /* padding-bottom: 1em; */
}
.nav-data{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

}
.text-bar{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 0.2em;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border-color: aliceblue;
}

.searchBar{
    /* width: 20em; */
    display: flex;
}
.buttons{
    display: flex;
    gap: 2em;
    /* margin-bottom: 2em; */
}
a {
    text-decoration: none;
    /* outline: none; */
}

.buy-button{
    font-size: 1rem;
    background-color: rgb(123, 125, 128);
    color: aliceblue;
    padding: 0.2rem;
    border-radius: 10px;
}
footer{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    justify-content: center;
    padding: 2em;
    /* text-align: center; */
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.footer-1{
    display: flex;
    gap: 2em;
    
}
li a{
    color:aliceblue;
}

.addingLoader {
    max-width: 550px;
    margin: auto;
    padding: 0 1rem;
}
/* textarea {
    width: 100%;
    height: 8rem;
}
button {
    margin: 2rem 0;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
} */

/* creating css loader */

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* media query */

/* @media screen and (max-width: 400px) {
    nav #cards footer  {
      width: 100%;
    }
    .nav-data{
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .buttons{
        display: flex;
        gap: 2em;
        justify-content: center;
    }
  } */